*{
    padding: 0;
    border: 1px solid red;
    font-family: Darumadrop One;
}


.passport{
    width: 100%;
    height: 1500px;
    background-image: url(../media/imagen/Fondo_pasaporte.png);
}



.passport-top {
    justify-content: space-between;
    display: flex;
    margin: 50px;
    
}





.passport-bottom{
    justify-content: space-between;
    display: flex;
    margin: 50px;
    height: 1000px;
    
}


.body-peak{
    background-image: url(../media/imagen/Pasaporte_Cuerpo_Rojo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 800px;
    height: 100%;
}


.selector-peak{
    width: 100%;
    height: 50px ;
    background-color: brown;

}