* {
    margin: 0;
    padding: 0;
    font-family: Darumadrop One;
}

main {
    min-height: 100vh;
    width: 100%;

    background-image: url(../media/imagen/Fondo_pasaporte.png);
    background-repeat: repeat; 
    background-size: auto;     
}



.passport-top,
.passport-bottom {
    margin-inline: 10%;
    display: flex;
    justify-content: space-between;
}



/* PARTE SUPERIOR PASAPORTE*/



.montain-password {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.montain-password>img {
    width: 100px;
    margin-bottom: -50px;
}

.montain-password>figcaption {
    font-size: 76px;
    color: rgb(25, 167, 249);

}


.button-check {
    width: 100px;
    height: 100px;
    margin-top: 5%;
}




/* PARTE INFERIOR PASAPORTE*/

.passport-bottom {
    background-color: burlywood;
    margin-top: 150px;
}

/* Fondo de la imagen del cuerpo*/
.margin-peak {
    background-color: rgb(250, 218, 175);
    padding: 10px;
    border-radius: 16px;
    position: relative;
    aspect-ratio: 3 / 4;
}

/* Cuerpo */
.body-peak {
    width: 100%;
    display: block;
}

/* Cara */
.eyes-body {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.eyes-body>img {
    width: 100%;
}


.selector-peak {
    border-radius: 40px;
    width: 100%;
    height: 95%;
    /* background-color: brown; */
    transform: translateX(100px);
}


.seleccion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;  
    transform: translateX(-600px); 
}