:root {
    --menu-bg: #d78356;
    --menu-text: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.wrapper {
    margin: 0;
    padding: 0;
}

a {cursor: pointer;}

/* Con este selector hacemos que todas imagenes que carguemos por defecto sean responsive */
img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

body {
    background-color: rgba(0, 0, 255, 0.1);
    font-family: Darumadrop One;
}


/* ======================== HERO ========================*/

header {
    background-color: rgba(255, 255, 255, 0);

}

/* Imagen de fondo de la montaña que se ajusta a toda la pantalla */
.fondo-montaña {
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    z-index: -2;
    background-image: url(../media/imagen/Fondo_Montaña.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
/* Imagen de los scouts puesto encima de la imagen de la montaña de fondo  */
.fondo-scouts>h1 {
    font-size: clamp(8rem, 25vw, 25rem);
    position: absolute;
    top: 15%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #fcaa7d;
    opacity: 0.6;
    z-index: 2;
    text-align: center;
}

.fondo-scouts {
    position: relative;
    width: 80%;
    bottom: 0vh;
    z-index: 1;

}

/* Barra de navegacion */
nav {
    background-color: var(--menu-bg);
}

nav>ul {
    padding: 1.8rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

nav>ul>li>a {
    text-decoration: none;
    color: var(--menu-text);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 12px;
}

/* Cuando clicas en la barra de navegación hace una transición de color  */

nav>ul>li>a:hover {
    color: var(--menu-bg);
    background-color: var(--menu-text);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9b595;
}



/* ================ Hero 1 ================ */

.hero {
    display: flex;
    gap: 1rem;
}

.text-hero {
    margin-left: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
}

.text-hero>h2 {
    font-size: 6rem;
    color: var(--menu-bg);
    text-shadow: 2px 2px 2px black;
}

.text-hero>p {
    font-size: 1.6rem;
}

/* Ajuste de imagen de la imagen del explorador con la linterna  */

.image-hero {
    width: 50%;
}

.image-hero>img {
    filter: drop-shadow(3px 3px 4px black);
    transition: 0.3s;
}

/* Cuando pones el raton encima se muestra una sombra */

.image-hero>img:hover,
.image-hero2>img:hover {
    filter: drop-shadow(12px 12px 8px black);
}



/* =============== Hero 2 =================== */
.hero2 {
    display: flex;
    gap: 1rem;
}

.text-hero2 {
    margin-right: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
}

.text-hero2>h2 {
    font-size: 6rem;
    color: var(--menu-bg);
    text-shadow: 2px 2px 2px black;
}

.text-hero2>p {
    font-size: 1.6rem;
}

/* Ajuste de la imagen del explorador comiendose una seta  */
.image-hero2 {
    width: 50%;
}

.image-hero2>img {
    /* box-shadow: 3px 3px 3px black; */
    filter: drop-shadow(3px 3px 4px black);
    transition: 0.3s;
}

.image-hero2>img:hover {
    filter: drop-shadow(12px 12px 8px black);
}

@media screen and (max-width: 1050px) {
    .hero2 {
        margin-block: 5%;
        flex-direction: column;
        align-items: center;
    }

    .text-hero2 {
        width: 80%;
        margin-right: -10%;
    }

    .image-hero2 {
        margin-left: -50%;
    }

}


/* ===== BETA SECTION ===== */
.beta {
    background-color: #e9b595;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    text-align: center;
}

.beta h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.beta-form {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.beta-form label {
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    font-family: Darumadrop One;
}

.beta-form input {
    padding: 0.9rem 1rem;
    border-radius: 14px;
    border: 3px solid #777;
    background-color: #e6e6e6;
    font-size: 1rem;
    outline: none;
    font-family: Darumadrop One;
}

.beta-form input::placeholder {
    color: #9a9a9a;
}

/* ===== FOOD SECTION =====*/

/* Código que se encarga del aspecto de las imágenes en la web y sus animaciones */

.comida>div{
    position: absolute;
}

.comida>div>img{
    position: absolute;
    width: 350px;
    opacity: 1;
    transition: 0.6s;
}

.comida>div>img:hover{
    opacity: 0.9;
    transform:scale(1);
}

/* Sección manzana */

.manzana{
    left: 9%; 
    top: 20%;
    width: auto; 
    height: auto;
    display: block;
    font-family: Darumadrop One;
    font-size: 50px;
    text-align: justify;
    color: #fff;
}

.manzana p:hover {
  transform: translateX(160px) scale(1.05);
}

/* Sección de seta */

.seta{
    left: 35%;
    top: 30%;
    width: auto; 
    height: auto;
    display: block;
    font-family: Darumadrop One;
    font-size: 50px;
    text-align: justify;
    color: #fff;
}

.seta p:hover {
  transform: translateX(160px) scale(1.05);
}

/* Sección de la manzana nevada */

.manzananevada{
    left: 68%;
    top: 45%;
    width: auto; 
    height: auto;
    display: block;
    font-family: Darumadrop One;
    font-size: 50px;
    text-align: justify;
    color: #fff;
}

.manzananevada p:hover {
  transform: translateX(160px) scale(1.05);
}

/* Fondo de la página */

.bodyComida {
    background-image: url(../media/imagen/Capibara.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }

 /* Código correspondiente al texto del html , animaciones y su aspecto en la web */

 .texto{
    margin: 2%;
    padding: 2%;
    font-family: Darumadrop One;
    font-size: 28px;
    text-align: justify;
    color: #fff;
 }

 .texto > div{
    position: absolute;
 }

 .descripcion1{
    left: 5%; 
    top: 70%;
    transition: 0.6s;
    font-size: 90%;
    text-shadow: 0.6s;
 }

 .descripcion1:hover {
  transform: scale(1.1);
  text-shadow:0 0 6px rgba(255, 255, 255, 0.8);
}

  .descripcion2{
    left: 36%; 
    top: 70%;
    transition: 0.6s;
    font-size: 90%;
    text-shadow: 0.6s;
 }

 .descripcion2:hover {
  transform: scale(1.1);
  text-shadow:0 0 6px rgba(255, 255, 255, 0.8);
}

.descripcion3{
    left: 66%; 
    top: 83%;
    transition: 0.6s;
    font-size: 90%;
    text-shadow: 0.6s;
 }

 .descripcion3:hover {
  transform: scale(1.1);
  text-shadow:0 0 6px rgba(255, 255, 255, 0.8);
}

/* sección inter link al html pasaporte */

 .descripcion4{
    position:absolute;
    left: 82%; 
    top: 25%;
    transition: 0.6s;
    font-size: 110%;
    text-shadow: 0.6s;
 }

 .descripcion4 p{
    color:#fff;
    text-decoration: underline;
 }

.descripcion4:hover {
  transform: scale(1.1);
  text-shadow:0 0 6px rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

/* ===== MAP =====*/



/* ===== PASSPORT =====*/

.Main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(../media/imagen/Fondo_pasaporte.png);
    background-repeat: repeat; 
    background-size: auto;     
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.passport-top {
    margin-inline: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



/* PARTE SUPERIOR PASAPORTE*/



.montain-password {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.montain-password>img {
    width: 100px;
    margin-bottom: -50px;
}

.montain-password>figcaption {
    font-size: 76px;
    color: rgb(25, 167, 249);

}


.button-check {
    width: 100px;
    height: 100px;
    margin-top: 5%;
}




/* PARTE INFERIOR PASAPORTE*/

.passport-bottom {
    background-color: burlywood;
    margin: 15px;
    gap:5%;
    border-radius: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

/* Fondo de la imagen del cuerpo*/
.margin-peak {
    background-color: rgb(250, 218, 175);
    padding: 10px;
    border-radius: 16px;
    position: relative;
    aspect-ratio: 3 / 4;
}

.top{
    display: flex;
    justify-content: center;
    width: 20vw;
}

/* Cuerpo */
.body-peak {
    width: 100%;
    display: block;
}

/* Cara */
.eyes-body {
    width: 70%;
    position: absolute;
    top: 29%;
    left: 15.5%;
    /* transform: translate(-50%, -50%); */
}

.eyes-body>img {
    width: 100%;
}


.selector-peak {
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    /* height: 95%; */
    background-color: #f1c997;
    /* transform: translateX(100px); */
}


.seleccion {
    display: flex;
    flex-direction:row-reverse; 
    /* justify-content: center;
    align-items: center;
    gap: 15px;  
    transform: translateX(-600px);  */
}

.seleccion>div{
    display: flex;
    flex-direction: column;
    width: 20vh;
    align-items: center;
}

.seleccion> div> img{
    cursor: pointer;
    width: 70%;
    gap:10px;
}

/* ===== FOOD SECTION =====*/

/* Código que se encarga del aspecto de las imágenes en la web y sus animaciones */

.comida>div{
    position: absolute;
}

.comida>div>img{
    position: absolute;
    width: 350px;
    opacity: 1;
    transition: 0.6s;
}

.comida>div>img:hover{
    opacity: 0.9;
    transform:scale(1);
}

/* Sección manzana */

.manzana{
    left: 9%; 
    top: 20%;
    width: auto; 
    height: auto;
    display: block;
    font-family: Darumadrop One;
    font-size: 50px;
    text-align: justify;
    color: #fff;
}

.manzana p:hover {
  transform: translateX(160px) scale(1.05);
}

/* Sección de seta */

.seta{
    left: 35%;
    top: 30%;
    width: auto; 
    height: auto;
    display: block;
    font-family: Darumadrop One;
    font-size: 50px;
    text-align: justify;
    color: #fff;
}

.seta p:hover {
  transform: translateX(160px) scale(1.05);
}

/* Sección de la manzana nevada */

.manzananevada{
    left: 68%;
    top: 45%;
    width: auto; 
    height: auto;
    display: block;
    font-family: Darumadrop One;
    font-size: 50px;
    text-align: justify;
    color: #fff;
}

.manzananevada p:hover {
  transform: translateX(160px) scale(1.05);
}

/* Fondo de la página */

.bodyComida {
    background-image: url(../media/imagen/Capibara.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }

 /* Código correspondiente al texto del html , animaciones y su aspecto en la web */

 .texto{
    margin: 2%;
    padding: 2%;
    font-family: Darumadrop One;
    font-size: 28px;
    text-align: justify;
    color: #fff;
 }

 .texto > div{
    position: absolute;
 }

 .descripcion1{
    left: 5%; 
    top: 70%;
    transition: 0.6s;
    font-size: 90%;
    text-shadow: 0.6s;
 }

 .descripcion1:hover {
  transform: scale(1.1);
  text-shadow:0 0 6px rgba(255, 255, 255, 0.8);
}

  .descripcion2{
    left: 36%; 
    top: 70%;
    transition: 0.6s;
    font-size: 90%;
    text-shadow: 0.6s;
 }

 .descripcion2:hover {
  transform: scale(1.1);
  text-shadow:0 0 6px rgba(255, 255, 255, 0.8);
}

.descripcion3{
    left: 66%; 
    top: 83%;
    transition: 0.6s;
    font-size: 90%;
    text-shadow: 0.6s;
 }

 .descripcion3:hover {
  transform: scale(1.1);
  text-shadow:0 0 6px rgba(255, 255, 255, 0.8);
}

/* sección inter link al html pasaporte */

 .descripcion4{
    position:absolute;
    left: 82%; 
    top: 25%;
    transition: 0.6s;
    font-size: 110%;
    text-shadow: 0.6s;
 }

 .descripcion4 p{
    color:#fff;
    text-decoration: underline;
 }

.descripcion4:hover {
  transform: scale(1.1);
  text-shadow:0 0 6px rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

/* ===== MAP =====*/



/* ===== PASSPORT =====*/




/* ===== Footer ===== */

footer {

    background-color: #D78356;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 1rem;
    text-align: center;
}

footer>div {
    width: 20%;
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
}

/* Botones */

.btn-group {
    display: flex;
    gap: 24px;
    padding: 10px
}


/* Propiedades comunes a los 2 botones */
.btn-group>a {
    padding: 8px 10px;
    font-weight: bold;
    border-radius: 8px;
    font-size: 15px;

}

.btn-group>a:first-child {
    background-color: #FF9FE2;
    color: rgb(14, 21, 27);
    transition: 500ms;
}

.btn-group>a:last-child {
    border: 1px black solid;
}

/*Efectos Hover sobre los Botones*/
/* Este selector solo se ativara cuando el cursor pase por encima del boton */

.btn-group>a:first-child:hover {
    background-color: rgb(189, 165, 29);
}

.btn-group>a:last-child:hover {
    background-color: rgb(136, 136, 136);
}



/* GALLERY */
main>#gallery>h2 {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}

main>#gallery>.gallery-cont {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}



/* Slideshow container */
.slideshow-container {
    max-width: 720px;
    position: relative;
    margin: auto;
    margin-top: 4em;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.show-slide {
    display: block;
}

.hide-slide {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}


@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}



/* MEDIA */
@media screen and (max-width: 1050px) {
    .hero {
        margin-top: 10%;
        flex-direction: column;
        align-items: center;
    }

    .text-hero {
        width: 80%;
        margin-left: -10%;
    }

    .image-hero {
        margin-right: -50%;
    }
}



/* TABLET */
@media screen and (max-width: 690px) {

    nav>ul {
        flex-wrap: wrap;
        gap: 2rem;
    }

    main>#gallery>.gallery-cont {
        grid-template-columns: auto auto;
    }

}


/* MOBILE */
@media screen and (max-width: 460px) {

    * {
        font-size: 12px;
    }

    main>section.hero>div:first-child>h2 {
        font-size: 3rem;
    }

    main>section.hero>div:first-child>p {
        font-size: 1rem;
    }

    main>#gallery>.gallery-cont {
        grid-template-columns: auto;
        gap: 0;
    }

}


/* Sección dedicada a la pagina sobre los diferentes mapas */
/* Hacemos que las imagenes de los biomas ocupen toda la pantalla. */
.SlideMaps-Container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Encondemos todas las imagenes de primera */
.Maps {
    display: none;
    object-fit: cover;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Definimos visualmente el tiquet y sus botones */
.Tiquet{
    max-width: 720px;
    position:fixed;
    bottom: 0px;
    left: 50%;
    margin-left: -360px;
}
.map-prev,
.map-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 57.5%;
    width: 5.5%;
    margin-top: -22px;
    padding: 0px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.map-prev { 
    transform: rotate(180deg);
    left: 51.5%;
}
 
.map-start {
    cursor: pointer;
    position: absolute;
    width: 25%;
    top: 31%;
    left: 71.5%;
    transition: 0.6s ease;
}

.mapDescription,.mapName{
    position: absolute;
    z-index: 2;
    left: 11.5%;
    font-family: Darumadrop One;
}

.mapName{
    bottom: 47.5%;
    color: #3d40ff;
    font-size: 25px;
    
}

.mapDescription{
    top: 56%;
    color: #000000;
    font-size: 15px;
    max-width: 380px;
}

/* Las siguientes clases se acceden a traves de js */
.show-Map {
    display: block;
}

.hide-Map {
    display: none;
}


/* Animacion para los botonos */
.map-start:hover{
    top: 29.5%;
}

.map-prev:hover,
.map-next:hover {
    top: 49.5%;
}



