:root {
    --menu-bg: yellowgreen;
    --menu-text: black;
    
}

/*Plantilla copiada de Adrían*/
/*HAY QUE BORRAR LOS ELEMENTOS QUE NO SE USAN EN CSS RELACIONADO CON LA PLANTILLA DE ADRI*/
/*Srry por el guarreo*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: 1px red solid; */
    /* font-size: 24px; */
}

.wrapper{
    margin: 0;
    padding: 0;
}

/* Con este selector hacemos que todas imagenes que carguemos por defecto sean responsive */
img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

body {
    background-color: rgba(0, 0, 255, 0.1);
    font-family: Darumadrop One;
}

header {
    background-color: rgb(32, 0, 61);
    /* padding: 2rem 3rem;
    margin: 1rem 2rem 3rem 7rem; */
    padding: 3rem;
    height: 50vh;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > h1,
header > p {
    color: aliceblue;
}

nav {
    background-color: var(--menu-bg);
}

nav > ul {
    padding: 1.8rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

nav > ul > li > a {
    text-decoration: none;
    color: var(--menu-text);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 12px;
}

nav > ul > li > a:hover {
    color: var(--menu-bg);
    background-color: var(--menu-text);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section {
    padding: 2rem;
    max-width: 1200px;
}

main > section.hero {
    display: flex;
    gap: 1rem;
}

main > section.hero > div:first-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
}

main > section.hero > div:first-child > h2 {
    font-size: 6rem;
    color: var(--menu-bg);
    text-shadow: 2px 2px 2px black;
}

main > section.hero > div:first-child > p {
    font-size: 1.6rem;
}

main > section.hero > div:last-child {
    width: 50%;
}

main > section.hero > div:last-child > img {
    /* box-shadow: 3px 3px 3px black; */
    filter: drop-shadow(3px 3px 4px black);
    transition: 0.3s;
}

main > section.hero > div:last-child > img:hover {
    filter: drop-shadow(12px 12px 8px black);
}

/* ===== BETA SECTION ===== */
.beta {
    background-color: #e9b595;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    text-align: center;
}

.beta h2 {
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.beta-form {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.beta-form label {
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    font-family: Darumadrop One;
}

.beta-form input {
    padding: 0.9rem 1rem;
    border-radius: 14px;
    border: 3px solid #777;
    background-color: #e6e6e6;
    font-size: 1rem;
    outline: none;
    font-family: Darumadrop One;
}

.beta-form input::placeholder {
    color: #9a9a9a;
}

/* ===== FOOD SECTION =====*/

/* Código que se encarga del aspecto de las imágenes en la web y sus animaciones */

.comida>div{
    position: absolute;
}

.comida>div>img{
    position: absolute;
    width: 350px;
    opacity: 1;
    transition: 0.6s;
}

.comida>div>img:hover{
    opacity: 0.9;
    transform:scale(1);
}

/* Sección manzana */

.manzana{
    left: 9%; 
    top: 20%;
    width: auto; 
    height: auto;
    display: block;
    font-family: Darumadrop One;
    font-size: 50px;
    text-align: justify;
    color: #fff;
}

.manzana p:hover {
  transform: translateX(160px) scale(1.05);
}

/* Sección de seta */

.seta{
    left: 35%;
    top: 30%;
    width: auto; 
    height: auto;
    display: block;
    font-family: Darumadrop One;
    font-size: 50px;
    text-align: justify;
    color: #fff;
}

.seta p:hover {
  transform: translateX(160px) scale(1.05);
}

/* Sección de la manzana nevada */

.manzananevada{
    left: 68%;
    top: 45%;
    width: auto; 
    height: auto;
    display: block;
    font-family: Darumadrop One;
    font-size: 50px;
    text-align: justify;
    color: #fff;
}

.manzananevada p:hover {
  transform: translateX(160px) scale(1.05);
}

/* Fondo de la página */

.bodyComida {
    background-image: url(../media/imagen/Capibara.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }

 /* Código correspondiente al texto del html , animaciones y su aspecto en la web */

 .texto{
    margin: 2%;
    padding: 2%;
    font-family: Darumadrop One;
    font-size: 28px;
    text-align: justify;
    color: #fff;
 }

 .texto > div{
    position: absolute;
 }

 .descripcion1{
    left: 5%; 
    top: 70%;
    transition: 0.6s;
    font-size: 100%;
    text-shadow: 0.6s;
 }

 .descripcion1:hover {
  transform: scale(1.1);
  text-shadow:0 0 6px rgba(255, 255, 255, 0.8);
}

  .descripcion2{
    left: 36%; 
    top: 63%;
    transition: 0.6s;
    font-size: 100%;
    text-shadow: 0.6s;
 }

 .descripcion2:hover {
  transform: scale(1.1);
  text-shadow:0 0 6px rgba(255, 255, 255, 0.8);
}

.descripcion3{
    left: 66%; 
    top: 83%;
    transition: 0.6s;
    font-size: 100%;
    text-shadow: 0.6s;
 }

 .descripcion3:hover {
  transform: scale(1.1);
  text-shadow:0 0 6px rgba(255, 255, 255, 0.8);
}

/* sección inter link al html pasaporte */

 .descripcion4{
    position:absolute;
    left: 80%; 
    top: 25%;
    transition: 0.6s;
    font-size: 120%;
    text-shadow: 0.6s;
 }

.descripcion4:hover {
  transform: scale(1.1);
  text-shadow:0 0 6px rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

/* ===== MAP =====*/



/* ===== PASSPORT =====*/



/* ===== RESPONSIVE ===== */
@media (max-width: 480px) {
    .beta {
        padding: 2rem 1rem;
    }

    .beta-form {
        max-width: 100%;
    }
}


/* Me permite seleccionar un elemento hijo por posicion */
/* main > section.hero > div:nth-child(5) {

} */


/* GALLERY */
main > #gallery > h2 {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}

main > #gallery > .gallery-cont {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}

/* main > #gallery > .gallery-cont > img {
    border-radius: 40px;
} */


/*Slide de clases*/
/*Borrador*/

/* Slideshow container */
.slideshow-container {
    max-width: 720px;
    position: relative;
    margin: auto;
    margin-top: 4em;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.show-slide {
    display: block;
}

.hide-slide {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}


/* MEDIA QUERY */

/* TABLET */
@media screen and (max-width: 690px) {

    nav > ul {
        flex-wrap: wrap;
        gap: 2rem;
    }

    main > section.hero {
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    main > section.hero > div:first-child {
        width: 100%;
    }

    main > #gallery > .gallery-cont {
        grid-template-columns: auto auto;
    }

}


/* MOBILE */
@media screen and (max-width: 460px) {

    * {
        font-size: 12px;
    }

    /* main > section.hero > div:first-child > h2 {
        font-size: 3rem;
    }
    main > section.hero > div:first-child > p {
        font-size: 1rem;
    } */
    
    main > section.hero > div:last-child {
        width: 100%;
    }

    main > #gallery > .gallery-cont {
        grid-template-columns: auto;
        gap: 0;
    }


}